<div class="bg_login p-4 body">
    <div class="bg-white p-4 col-4 form-login">
      <div class="align-center border-bottom p-2 m-2">
        <h2 class="text-center text_main">Iniciar Sesion</h2>
      </div>
        <form class="form">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordarme</label>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success">Entrar</button>
            </div>
          </form>
    </div>
</div>
